.Content{
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 100vh;
    color: var(--color-text);
}
h1{
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 50px;
}