.hero{
    width: 100%;
    background-color: var(--color-bg-nav);
    position: sticky;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-family: 'Times New Roman', Times, serif;
}
.navbar-menu{
    display: flex;
    flex-basis: 80%;
    align-items: baseline;
    flex-flow: row wrap;
    gap: 10px;
}
.navbar-list{
    display: flex;
    justify-content: end;
    gap: 15px;
    flex-grow: 1;
    font-size: 20px;
    padding: 0;
    font-weight: 600;
    list-style-type: none;
    align-items: baseline;
    flex-flow: wrap;
    flex-basis: auto;
}
.nav-link{
    text-decoration: none;
    color: var(--color-text-links);

}
.nav-link:hover{
    color: var(--color-general-hover);
    transition: .5s;
    text-decoration: underline;
}
.logo{
    align-self: center;
    width: 110px;
    height: 50px;
    padding: 0;
}
.languages-list{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: var(--color-text-links);
    justify-content: flex-start;
    gap: 15px;
    margin-right: 10px;
    padding: 10px;
    border-left: 1px solid var(--color-text-links);

}
.language{
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-text-links);
    cursor: pointer;
}
.active{
    color: var(--color-general-hover);
    font-weight: bold;
    transition: .5s;
    text-decoration: underline;
}

.button-navbar{
    justify-self: end;
    background-color: var(--color-button-navbar-bg);
    border: none;
    border-radius: 20px;
    padding: 10px;
    color: var(--color-text-links);
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    cursor: pointer;
    outline: none;
}
.button-navbar:hover{
    background-color: var(--color-button-bg-hover);
    color: var(	--color-text-links-hover);
    text-decoration: underline;
    transition: .5s;
}

@media (max-width: 815px) {
    .hero{
        display: flex;
        width: 100%;
        position: relative;
        justify-content: center ;
    }

    .Navbar{
        margin: 0 auto;
        display: flex;
    }
    .navbar-menu{
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-flow: nowrap;
        width: 100%;
    }

    .navbar-list{
        display: none;
    }
    .languages-list{
        flex-basis: 100px;

    }
    .logo{
        flex-basis: 90px;
    }
    .button-navbar{
        flex-basis: 85px
    }
}


