@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --color-bg-nav: #161617 ;
    --color-bg-body: #1d1d1f;
    --color-bg-footer: #161617 ;
    --color-text:  #f5f5f7;
    --color-text-links: #c8d6e5;
    --color-text-links-hover: #c8d6e5 ;
    --color-button-bg: #ff6b6b ;
    --color-button-navbar-bg: #ff6b6b ;
    --color-button-bg-hover: #ee5253  ;
    --color-general-hover: #f5f5f7;
    --color-text-light: #9EFFFF ;
    --color-text-titles: #00d2d3;
    background-color: #1d1d1f;
    font-family: 'Roboto', sans-serif;
}