.About{
    height: 100vh;
    background-color: var(--color-bg-body);
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    
    line-height: 1.5;
}

.title{
    color: var(--color-text-light);
    font-size: 3rem;
    margin-bottom: 1rem;
    
}

.about-container{
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 50%;
}

.photo{
    border-radius: 150px;
}
 @media (max-width: 768px) {
    .title{
        color: var(--color-text-light);
    font-size: 2rem;
    margin-bottom: 0.5rem;

    }
    .about-container{
        width: 100%;
        justify-content: center;
        font-size: 1.2rem;
        align-items: center;
        }
    .About{
        position: relative;
        padding: 0;
        line-height: 1.3;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .photo{
        border-radius: 150px;
        margin-bottom: 1rem;
        display: flex;
        justify-content: center;
        width: 90%;
    }
    
 }